@model NovelWeb_SS5.Models.Comment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Xóa comment này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Nội dung comment</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiDungcmt)
        </dd>

        <dt>
            <span>Thời gian</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay)
        </dd>

        <dt>
            <span>User comment</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.User.userName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>