@model NovelWeb_SS5.Models.Comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.noiDungcmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiDungcmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chuong.soChuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chuong.soChuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.userName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCmt }) |
    @Html.ActionLink("Back to List", "Index")
</p>
