@model NovelWeb_SS5.Models.Chuong

@{
    ViewBag.Title = "ChiTietChuong";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutTruyenChiTiet.cshtml";

}

<link href="~/Content/bootstrap-readable.css" rel="stylesheet" />
<style>

    body {
        padding: 25px;
        background-color: white;
        color: black;
        font-family: "Palatino Linotype","Arial","Times New Roman",sans-serif;
        line-height: 180%;
        color: #2b2b2b;
        font-size: 22px;
        text-align: left;
        word-wrap: break-word;
    }

    .dark-mode {
        background-color: #222;
        color: hsla(0,0%,100%,.75);
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","CrudTruyens" )">Home</a></li>
        <li><a href="@Url.Action("Details", new { id = Model.idTruyen })">Danh Sách Chương</a>
        <li class="active">@Html.DisplayFor(x => x.soChuong)</li>
    </ol>
    <svg onclick="myFunction()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
    </svg>
</nav>

<h2 class="text-center" style="color: gray">@Html.DisplayFor(x => x.soChuong) </h2>
<h3 class="text-center"> @Html.DisplayFor(x => x.tenChuong)  </h3>

<div class=" container">

    <div class="row">

        <div class="col-12" style="word-wrap: break-word; font-size: larger;">
            <p class="text-justify">
                @Html.Raw(Model.noiDung)
            </p>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        var element = document.body;
        element.classList.toggle("dark-mode");
    }
</script>